* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #ddd;
  color: #211B12;
  font-family: 'Source Sans Pro', sans-serif;
}

.header__pageTitle {
  text-align: center;
  padding: 1rem 0;
  background-color: #A74FF0;
  font-size: 3.6rem;
  font-family: 'Source Serif Pro', serif;
  text-transform: uppercase;
  border-bottom: 2px solid #211B12;
  -webkit-box-shadow: 1px 1px 10px;
          box-shadow: 1px 1px 10px;
  text-shadow: 4px 4px 15px #211B12;
}

.mainContent {
  margin: 0 auto;
  width: 50vw;
}

.collectionChoice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.collectionChoice__title {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
  font-size: 2.5rem;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 2.5rem 0;
}

.collectionChoice__form {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #aaa;
  border-radius: 6px;
  margin-bottom: 4rem;
  padding: 3rem;
}

.collectionChoice__textInputWrap {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.collectionChoice__textInput {
  font-size: 1.8rem;
  max-width: 200px;
  height: 4rem;
}

.collectionChoice__radioList {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  border-left: 2px solid #aaa;
}

.collectionChoice__radioList li {
  width: 50%;
  font-size: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.collectionChoice__radioList li label {
  padding: 0.4rem;
}

.collectionChoice__confirmButton {
  padding: 1rem 3rem;
  margin-top: 2rem;
}

button {
  font-size: 1.4rem;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: background-color 0.1s;
  transition: background-color 0.1s;
  background-color: #A74FF0;
}

button:hover {
  background-color: #8313df;
}

button:active {
  -webkit-box-shadow: 0px 0px 5px #A74FF0;
          box-shadow: 0px 0px 5px #A74FF0;
}

button:disabled {
  background-color: #d6adf8;
  color: #635136;
  cursor: initial;
}

.collectionContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.collectionContent__title {
  min-height: 5vh;
  background-color: #eee;
  text-align: center;
  font-size: 2.5rem;
  padding: 2rem;
}

.collectionContent__collectionObject {
  background-color: #eee;
  text-align: center;
  padding: 5% 0 10% 0;
  font-size: 3rem;
}

.collectionContent__displayMode {
  margin-top: 4rem;
  margin-bottom: 2rem;
  width: 100%;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "toggle random random" "toggle prev next";
  -ms-grid-columns: 2fr 1fr 1fr;
      grid-template-columns: 2fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-gap: 1rem;
}

.displayMode button {
  padding: 1rem;
}

.displayMode__toggleButton {
  display: block;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: toggle;
  background-color: #f04e69;
}

.displayMode__toggleButton:hover {
  background-color: #df1335;
}

.displayMode__toggleButton:active {
  -webkit-box-shadow: 0px 0px 5px #f04e69;
          box-shadow: 0px 0px 5px #f04e69;
}

.displayMode__randomButton {
  display: block;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: random;
}

.displayMode__displaySentencePrev {
  display: block;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: prev;
}

.displayMode__displaySentenceNext {
  display: block;
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: next;
}

@media (max-width: 1024px) {
  .mainContent {
    width: 90vw;
  }
}

@media (max-width: 800px) {
  .collectionChoice__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .collectionChoice__radioList {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .collectionChoice__radioList li {
    width: auto;
  }
}
/*# sourceMappingURL=style.css.map */